@model LogInViewModel​

@{
    ViewData["Title"] = "Log In";
}

<main>
    <!-- Log In & Register Start -->
    <div class="login-register-section section-padding-2">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Log In & Register Box Start -->
                    <div class="login-register align-content-center">
                        <h3 class="login-register__title">Log In</h3>

                        <form  method="post">
                            <div class="login-register__form">
                                <!-- Single Form Start -->
                                <div class="single-form align-content-center">
                                    <input class="single-form__input" type="text" placeholder="Username*" asp-for="@Model.UserName"/>
                                </div>
                                <!-- Single Form Start -->
                                <!-- Single Form Start -->
                                <div class="single-form">
                                    <input class="single-form__input" type="password" placeholder="Password *" asp-for="@Model.Password"/>
                                </div>
                                <div class="single-form">
                                    <button class="single-form__btn btn" type="submit">
                                        Log In
                                    </button>
                                </div>
                                <!-- Single Form Start -->
                            </div>
                        </form>

                        <!-- Log In & Register Box End -->
                    </div>
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Log In & Register End -->
</main>
