@model RegisterViewModel​

@{
    ViewData["Title"] = "Register";
}​

<!-- Log In & Register Start -->
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <h3 class="login-register__title">Register</h3>

                            <form method="post">
                                <div class="login-register__form">
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input class="single-form__input" type="text" placeholder="Username*" asp-for="@Model.UserName"/>
                                    </div>
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input class="single-form__input" type="email" placeholder="Email Address*" asp-for="@Model.Email"/>
                                    </div>
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input class="single-form__input" type="password" placeholder="Password *" />
                                    </div>
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input class="form-control" placeholder="Confirm Password" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />​
                                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>​
                                    </div>
                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <button class="single-form__btn btn" type="submit">
                                            Register
                                        </button>
                                    </div>
                                    <!-- Single Form Start -->
                                </div>
                            </form>
                        </div>
                        <!-- Log In & Register Box End -->
                    </div>
                </div>
            </div>
        </div>